:root {
  --primary: #651fff;
  --dark: #131a26;
  --grey: #ccc;
  --light: #eee;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Fira sans', sans-serif;
}

body {
  margin: 0;
  background: var(--light);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background: var(--dark);
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid var(--primary);
}

header h1 {
  color: #fff;
  font-size: 42px;
  text-transform: uppercase;
  /* 1st value horizontal, 2nd vertical */
  text-shadow: -4px 1px var(--primary);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  /* sets flex-grow to 1 (whereas the default value is 0) - see explanation here https://stackoverflow.com/a/66449233/8888320 */
  flex: 1;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.cell {
  /* Will have elements inside that are absolute */
  position: relative;
  border: 1px solid var(--dark);
  width: 150px;
  /* percentage is based on width; will get 100% of the width; get a perfect square */
  padding-top: 100%;
  cursor: pointer;
}

/* Remove top border */
.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

/* Remove left border */
.cell:nth-child(1),
.cell:nth-child(4),
.cell:nth-child(7) {
  border-left: none;
}

/* Remove bottom border */
.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
  border-bottom: none;
}

/* Remove right border */
.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9) {
  border-right: none;
}

.cell.x,
.cell.o {
  cursor: not-allowed;
}

.cell.x::before,
.cell.x::after,
.board.turn-x .cell:not(.x):not(.o):hover::before,
.board.turn-x .cell:not(.x):not(.o):hover::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 135px;
  background: var(--dark);
  border-radius: 99px;
}

/* X positioning */

.cell.x::before,
.board.turn-x .cell:not(.x):not(.o):hover::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.cell.x::after,
.board.turn-x .cell:not(.x):not(.o):hover::after {
  transform: translate(-50%, -50%) rotate(45deg);
}

/* O positioning */

.cell.o::before,
.board.turn-o .cell:not(.x):not(.o):hover::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border: 15px solid var(--dark);
  border-radius: 50%;
}

.cell.o::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.board.turn-x .cell:not(.x):not(.o):hover::after,
.board.turn-x .cell:not(.x):not(.o):hover::before {
  background: var(--grey);
}

.board.turn-o .cell:not(.x):not(.o):hover::before {
  border-color: var(--grey);
}

.overlay {
  border: 5px solid var(--primary);
  min-height: 100vh;
  width: 100%;
  background: #e8eaf6;
  /* fixed: element is removed from the normal document flow, and no space is created for the element in the page layout */
  position: fixed;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay p {
  font-size: 3rem;
  margin: 0 0 2rem;
  text-align: center;
}

.overlay button {
  background: #000;
  color: #fff;
  border-radius: 1rem;
  padding: 2rem 2.5rem;
  outline: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.5s;
  border-bottom: 5px solid var(--primary);
}

.overlay button:hover {
  transform: scale(0.9);
}

/* Mobile - same as Bootstrap 4 col-sm */
@media screen and (max-width: 767px) {
  .cell {
    width: 100px;
  }

  .cell.x::before,
  .cell.x::after,
  .board.turn-x .cell:not(.x):not(.o):hover::before,
  .board.turn-x .cell:not(.x):not(.o):hover::after {
    width: 10px;
    height: 90px;
  }

  .cell.o::before,
  .board.turn-o .cell:not(.x):not(.o):hover::before {
    width: 70px;
    height: 70px;
    border: 10px solid var(--dark);
  }

  .overlay p {
    font-size: 2rem;
  }

  .overlay button {
    padding: 1.5rem 1.75rem;
  }
}
