:root {
  --primary: #8a4fff;
  --dark: #131a26;
  --grey: #ccc;
  --light: #eee;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Fira sans', sans-serif;
}

body {
  margin: 0;
  background: var(--light);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background: var(--dark);
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid var(--primary);
}

header h1 {
  color: #fff;
  font-size: 42px;
  text-transform: uppercase;
  /* 1st value horizontal, 2nd vertical */
  text-shadow: -4px 1px var(--primary);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 0;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.cell {
  /* Will have elements inside that are absolute */
  position: relative;
  border: 1px solid var(--dark);
  width: 100px;
  /* percentage is based on width; will get 100% of the width; get a perfect square */
  padding-top: 100%;
}
